@charset "UTF-8";
body {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  margin: 0; }

h2 {
  font-size: 21px; }

.container {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  position: relative; }
  .container .menu-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px; }

.main-header {
  padding-top: 1px; }
  .main-header nav {
    font-weight: bold; }
    .main-header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px; }
    .main-header nav li {
      display: block;
      list-style-type: none;
      max-width: 150px;
      text-align: center; }
      .main-header nav li a {
        color: black;
        text-decoration: none;
        font-weight: bold; }
        .main-header nav li a:hover {
          color: #81b3d2; }
        .main-header nav li a:active {
          color: #b2b2b2; }
      .main-header nav li.active a {
        color: #766357; }
        .main-header nav li.active a:hover {
          color: #604e43; }
        .main-header nav li.active a:active {
          color: #d6d0cc; }
    .main-header nav li:nth-child(2) {
      padding-right: 150px; }
  .main-header .welcome-picture {
    width: 100%;
    height: 508px;
    background: url("../pictures/main_back.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    .main-header .welcome-picture img {
      display: none; }
  .main-header .sedona-about {
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 40px 0; }

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .reasons .photo {
    width: 66.66667%;
    height: auto;
    background-size: cover;
    background-position: 50% 50%; }
    .reasons .photo.photo_1 {
      background-image: url("../pictures/photo_1.jpg"); }
    .reasons .photo.photo_2 {
      background-image: url("../pictures/photo_2.jpg"); }
  .reasons .reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 33.33333%;
    padding: 56px 0;
    background-color: #eeeeee;
    box-sizing: border-box;
    text-align: center; }
    .reasons .reason .reason-content {
      margin: auto;
      padding-left: 65px;
      padding-right: 65px; }
    .reasons .reason.highlighted {
      color: white;
      background-color: #81b3d2; }
    .reasons .reason .number {
      font-size: 14px;
      font-weight: normal; }
      .reasons .reason .number:before {
        content: "– "; }
      .reasons .reason .number:after {
        content: " –"; }

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .facts .fact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 33.33333%;
    padding: 71px 0;
    background-color: white;
    box-sizing: border-box;
    text-align: center; }
    .facts .fact .fact-content {
      margin: auto;
      padding-left: 65px;
      padding-right: 65px; }

.hotels {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 65px;
  text-align: center; }
  .hotels p {
    max-width: 450px;
    margin: auto;
    margin-bottom: 50px; }
  .hotels h2 {
    font-size: 30px; }
  .hotels .search {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    padding: 15px 135px;
    border: none;
    background-color: #81b3d2;
    color: white; }
    .hotels .search:hover {
      background-color: #669ec0; }
    .hotels .search:active {
      background-color: #5496bd;
      color: #87b5d1; }

.map {
  width: 100%;
  height: 350px;
  background-image: url("../pictures/map.png");
  background-size: cover;
  background-position: 50% 50%; }

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0; }
  .main-footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 160px; }
    .main-footer .social a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #81b3d2;
      width: 46px;
      height: 48px;
      text-decoration: none;
      color: white;
      font-size: 19px; }
      .main-footer .social a:hover {
        background-color: #669ec0; }
      .main-footer .social a:active {
        background-color: #5496bd;
        color: #87b5d1; }
      .main-footer .social a img {
        margin: auto; }
  .main-footer .hash-tag {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    width: 160px;
    font-size: 21px;
    text-align: center; }
  .main-footer .htmlacademy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    width: 160px; }
    .main-footer .htmlacademy-logo {
      background-image: url("../pictures/htmlacademy_sprite.png");
      background-repeat: no-repeat;
      display: block;
      width: 27px;
      height: 34px;
      background-position: -5px -5px; }
      .main-footer .htmlacademy-logo:hover {
        width: 27px;
        height: 34px;
        background-position: -5px -49px; }
      .main-footer .htmlacademy-logo:active {
        width: 27px;
        height: 34px;
        background-position: -5px -93px; }

/*# sourceMappingURL=style-main.css.map */
